<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show</title>
</head>
<body>

<h1>Hello World!</h1>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>age</th>
        </tr>

        <tr th:each="student:${students}" >
            <td th:text="${student.id}"></td>
            <td th:text="${student.name}"></td>
            <td th:text="${student.age}"></td>
        </tr>
    </table>
</div>
</body>
</html>