<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


    <bean id="a4Paper" class="com.kawyang.impl.TextPaper">
        <property name="charPerLine" value="16" />
        <property name="linePerPage" value="10" />
    </bean>

    <bean id="b5Paper" class="com.kawyang.impl.TextPaper">
        <property name="charPerLine" value="6" />
        <property name="linePerPage" value="5" />
    </bean>

    <bean id="printer" class="com.kawyang.entity.Printer" >
        <property name="paper" ref="a4Paper" />
    </bean>

</beans>